{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Check Out Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- check out section -->
    <div class="checkout-section mt-150 mb-150">
        <div class="container">
            <style>
                .gallery {
                    column-count: 3;
                    column-gap: 0;
                }

                .gallery img {
                    width: 100%;
                    margin-bottom: 0;
                }
            </style>

            <div class="gallery">
                {% for photo in photos.gallery_images.all %}
                    <img
                            src="{{ photo.image.url }}"
                            class="img-dynamic shadow-1-strong rounded"
                            alt="Boat on Calm Water"
                    />
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end check out section -->
{% endblock %}