{% block footer %}
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">О нас</h2>
                        <p>BIZBURI IDEL</p>
                        <p>Разводим  любимых питомцев с 20ХХ года!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Как нас найти</h2>
                        <ul>
                            <li>445599, Самарская область
                                Хворостянский район
                                с. Абашево
                                ул. Орловская, д. 25
                            </li>
                            <li>ПН - ВС: 10:00 - 19:00</li>
                            <li>+7 (967) 727-38-28</li>
                            <li>+7 (909) 323-38-30</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Страницы</h2>
                        <ul>
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'dogs' %}">Питомцы</a></li>
                            <li><a href="{% url 'news' %}">Новости</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="/dog_site/templates/index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
{% endblock %}